// app/admin/<segment>/layout.tsx
"use server";
import type { ReactNode } from "react";
import { requirePermission } from "@/lib/auth/permissions";

export default async function Layout({ children }: { children: ReactNode }) {
  // TODO: burayı değiştir
  await requirePermission("role.admin");
  return children;
}
